@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:ital,wght@0,700;0,800;0,900;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

:root {
  --primary-color: #2a2a2a;
  --second-color: #626262;
  --third-color: #464646;
  --orange-color: #e65100;
  --blue-color: #1f3a93;
  --light-gray: #a9a9a9;
  --white: #ededed;
  --text-color: #fff;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  /* background-color: var(--primary-color); */
  background-color: #000002;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  max-width: 1700px;
}

/* ====== */
/* HEADER */
/* ====== */

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.581);
  padding: 0px 15%;
  border-bottom: 1px solid transparent;
  transition: all 0.45s ease;
}

.logo {
  color: var(--text-color);
  font-size: 2.1875rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  position: relative;
  bottom: 0.8125rem;
  margin-top: 1rem;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  transition: transform 0.45s ease;
}

.logo:hover {
  transform: scale(1.1);
}

span {
  color: var(--orange-color);
}

.navlist {
  display: flex;
}

.navlist a {
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 1.5625rem;
  transition: all 0.45s ease;
  position: relative;
}

.navlist a:hover {
  color: var(--main-color);
  transition: 0.75s;
}

.navlist a.active {
  color: var(--orange-color);
}

.navlist a {
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 1.5625rem;
  transition: all 0.45s ease;
  position: relative;
}

.navlist a:hover {
  color: var(--orange-color);
  transition: 0.75s;
}

ul li a::before {
  content: '';
  width: 0px;
  height: 0.1875rem;
  background: #eb091c;
  position: absolute;
  top: 120%;
  left: 0;
  transition: 0.5s;
  mix-blend-mode: multiply;
}

ul li a::after {
  content: '';
  width: 0px;
  height: 0.1875rem;
  background: #eb091c;
  position: absolute;
  top: 120%;
  right: 0;
  transition: 0.5s;
  mix-blend-mode: multiply;
}

ul li:hover a:before {
  width: 50%;
  transform: translateX(100%);
}

ul li:hover a:after {
  width: 50%;
  transform: translateX(-100%);
}

#menu-icon {
  font-size: 2.1875rem;
  color: var(--white);
  z-index: 10001;
  cursor: pointer;
  margin-left: 1.5625rem;
  display: none;
}

header.sticky {
  border-bottom: 0.5px solid var(--orange-color);
  padding: 0.0625rem 15%;
}

/* ====== */
/* HOME  */
/* ====== */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  width: 100%;
  margin: 5rem;
  margin-inline: 2rem;
  padding-inline: 2rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  padding-right: 5rem;
  width: 45rem;
}

.home-content h1 {
  font-size: 3rem;
  text-transform: none;
  font-weight: 300;
  color: var(--white);
  padding-block: 1rem;
  width: 39rem;
}

.home-content h4 {
  font-size: 1.5rem;
  color: var(--orange-color);
  font-family: 'Poppins', Arial, sans-serif;
  text-transform: none;
}

.home-content p {
  font-size: 1.2rem;
  color: rgb(164, 164, 164);
  padding-bottom: 2rem;
}

.btn-orcamento {
  background-color: var(--orange-color);
  color: var(--white);
  width: 37.5rem;
  height: 3.875rem;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0.1875rem 0.1875rem 0.625rem black;
  transition: transform 0.5s ease, background-color 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-orcamento:hover {
  transform: scale(1.05);
  background-color: #8b451e;
}

.home img {
  width: 45.4625rem;
  height: auto;
  border-radius: 6.25rem;

  box-shadow: 4px 4px 10px;
  transition: transform 0.45s ease;
}

.home img:hover {
  transform: scale(1.012);
}

/* ====== */
/* SERVIÇOS */
/* ====== */
#servicos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
  color: white;
}
#servicos .title-servicos {
  padding-block: 2rem;
  font-size: 2.5rem;
}

.titulo-Servicos {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2.1875rem 1.25rem;
  grid-auto-flow: row;
  grid-template-areas:
    'titulo1 titulo2 titulo3'
    'titulo4 titulo5 titulo6'
    '. . .';
}

.titulo1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'foto titulo titulo'
    'foto descricao descricao'
    'foto descricao descricao';
  grid-area: titulo1;
}

.foto {
  grid-area: foto;
}

.titulo {
  grid-area: titulo;
  color: var(--orange-color);
}

.descricao {
  grid-area: descricao;
}

.titulo2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'foto titulo titulo'
    'foto descricao descricao'
    'foto descricao descricao';
  grid-area: titulo2;
}

.titulo3 {
  grid-area: titulo3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'foto titulo titulo'
    'foto descricao descricao'
    'foto descricao descricao';
}

.titulo4 {
  grid-area: titulo4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'foto titulo titulo'
    'foto descricao descricao'
    'foto descricao descricao';
}

.titulo5 {
  grid-area: titulo5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'foto titulo titulo'
    'foto descricao descricao'
    'foto descricao descricao';
}

.titulo6 {
  grid-area: titulo6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'foto titulo titulo'
    'foto descricao descricao'
    'foto descricao descricao';
}

/* ====== *
/*  ROAD MAP */
/* ====== */
.road__box {
  position: relative;
  width: 18.75rem;
  height: 25.75rem;
  display: flex;

  justify-content: center;
  align-items: center;
  background: #000;
  margin: 40px;
  transition: 0.5s;
}
.titulo-roadmap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.road__box:hover {
  height: 31.25rem;
}

.road__box .imgBx {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0.625rem;
  box-sizing: border-box;
}

.road__box .imgBx img {
  max-width: 100%;
  opacity: 0.5;
  transition: 0.5s;
}

.road__box:hover .imgBx img {
  opacity: 1;
}

.road__box:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}

.road__box:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  filter: blur(40px);
}

.road__box:before,
.road__box:after {
  background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
}

.road__box:nth-child(2):before,
.road__box:nth-child(2):after {
  background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
}

.road__box:nth-child(3):before,
.road__box:nth-child(3):after {
  background: linear-gradient(235deg, #772aff, #010615, #2196f3);
}

.road__box .road__content {
  position: absolute;
  bottom: 0;
  left: 0.625rem;
  right: 0.625rem;
  bottom: 0.625rem;
  height: 5.625rem;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

.road__box:hover .road__content {
  opacity: 1;
}

.road__box .road__content h2 {
  font-size: 1.25rem;
  color: var(--white);
  font-weight: 500;
  letter-spacing: 0.0625rem;
}

.road__box .road_content h2 span {
  font-size: 0.875rem;
  color: var(--white);
  font-weight: 200;
  letter-spacing: 0.0625rem;
}

section.roadmap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 80vh;
}

/* ====== */
/* PORTIFÓLIO */
/* ====== */

section.portfolio {
  padding: 10rem 15% 7.5rem;
  border-bottom: 0.3125rem solid var(--orange-color);
}

.main-text {
  text-align: center;
}

.main-text p {
  color: var(--white);
  font-size: 0.9375rem;
  margin-bottom: 0.9375rem;
}

.main-text h2 {
  font-size: 3rem;
  line-height: 1;
  color: var(--white);
}

section.portfolio .main-text p {
  color: var(--white);
}

section.portfolio .main-text h2 {
  color: var(--white);
}

.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  align-items: center;
  gap: 2.5rem;
  margin-top: 5rem;
}

.portfolio-content .row {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  cursor: pointer;
}

.portfolio-content .row img {
  width: 100%;
  border-radius: 0.5rem;
  display: block;
  height: 17.5rem;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--orange-color));
  position: absolute;
  border-radius: 0.5rem;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 2.5rem;
  transition: height 0.5s;
}

.layer h5 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.9375rem;
  color: var(--white);
}

.layer p {
  color: var(--white);
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
}

.layer i {
  color: var(--orange-color);
  margin-top: 1.25rem;
  font-size: 1.25rem;
  background: var(--white);
  width: 3.75rem;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 0.0625rem solid var(--orange-color);
}

.row:hover img {
  transform: scale(1.1);
}

.row:hover .layer {
  height: 100%;
}

/* ====== */
/* CONTACT FORMS */
/* ====== */

.contact {
  background: #000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.contact-text h4 {
  color: var(--white);
  margin: 1.125rem 0;
  font-size: 1.25rem;
  font-weight: 600;
}

.contact-text h2 {
  font-size: 3rem;
  line-height: 1;
  color: var(--white);
}

.contact-text span {
  color: var(--orange-color);
}

.contact-text p {
  color: var(--white);
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 1.875rem;
}

.list {
  margin-bottom: 2.8rem;
}

.list li {
  margin-bottom: 0.75rem;
}

.list li a {
  display: block;
  color: var(--white);
  font-size: 0.875rem;
  transition: all 0.45s ease;
}

.list li a:hover {
  color: var(--orange-color);
  transform: translateX(0.3125rem);
}

.list li a {
  display: block;
  color: var(--white);
  font-size: 0.875rem;
  transition: all 0.45s ease;
}

.contact-icons i {
  height: 2.8125rem;
  width: 2.8125rem;
  background: var(--orange-color);
  color: var(--white);
  font-size: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  margin-right: 0.9375rem;
  transition: all 0.45s ease;
}

.contact-icons i:hover {
  background: var(--orange-color);
  color: var(--white);
}

.contact-form form {
  position: ralative;
}

.contact-form form input,
textarea,
#select {
  width: 100%;
  padding: 0.875rem;
  background: #000;
  color: var(--white);
  border: 1px solid var(--orange-color);
  outline: none;
  font-size: 0.9375rem;
  border-radius: 0.5rem;
  margin-bottom: 0.625rem;
}

.contact-form textarea {
  resize: none;
  height: 15rem;
}

.contact-form .submit {
  display: inline-block;
  font-size: 1rem;
  background: var(--orange-color);
  color: var(--white);
  transition: all 0.45s ease;
}

.contact-form .submit:hover {
  transform: scale(1.1);
  cursor: pointer;
}

section.contact {
  padding: 6.875rem 3% 3.75rem;
}

/* ====== */
/* FOOTER */
/* ====== */
.footer {
  position: relative;
  width: 100%;
  background: #000;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

/* WHATSAP ICON STYLE */
.whats-link {
  position: fixed;
  width: 3.75rem;
  height: 3.75rem;
  bottom: 3.75rem;
  left: 2.5rem;
  background-color: #25d366;
  color: var(--white);
  border-radius: 3.125rem;
  text-align: center;
  font-size: 1.875rem;
  box-shadow: 0.0625rem 0.0625rem 0.125rem #888;
  z-index: 1000;
  transition: transform 0.45s ease;
}

#icon {
  display: flex;
  margin: 15.5px;
  transition: transform 0.45s ease;
}

.whats-link:hover {
  transform: scale(1.2);
}

.whats-link:hover #icon {
  transform: scale(1.5);
}

/*  RESPONSIVIDADE  */
